:root{
    --Ver_Oscuro: #5BB687 ;
    --Azul_Oscuro: #110140 ;
    --Blanco: white ;
    --ver_claro:#B4EAA9;

}
.Menu_Boton{
    background-color: #F6F6F6;
    display: flex;
    height: 60px;
    width: 80%;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;

    border-radius: 5px;
}
.Menu_Boton:first-child{
    margin-top: 30px;
}
#logo_contenedor{
    margin-top: 60px;
width: 130px;
height: 130px;
display: flex;
}
#logo{
    border-radius: 50%;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
}

.Menu_Boton:hover{
    background-color: #A9E4A4;
}
body{

    margin: 0;
    height: 100vh;
}

.div_superior{

    display:flex;
    justify-content: space-between;
    height: 10dvh;
    background-color: var( --Azul_Oscuro);

    
}

h2{
    margin: 10px;
    background-color: var(--Ver_Oscuro);
    color: white;

}

.div_derecha_inside_superior{
    display: flex;
    align-items: center;
    
}

.div_izquierda_inside_superior{

    display: flex;
    align-items: center;
    margin-right: 15px;
     
   
}

.div_derecha_inside_superior > button{

    background-color: var(--Blanco);
    font-size: 15px;
    border: none;
   
}

.div_izquierda_inside_superior > button{

    background-color: var(--Ver_Oscuro);
    font-size: 15px;
    border: none;
}

.div_contenedor{

    display: grid;
    height: 90dvh;
    grid-template-columns: 20% 80%;
}

.div_barra_navegacion_inside_contenedor{
    height: 90dvh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}



.div_circulo_contenedor{
    display: flex;
   width: 50px;
   height: 50px;

}
.div_circulo_contenedor > img{
    flex-grow: 1;
    object-fit: cover;
    border-radius: 50%;
    
}



.div_boton_inside_div_elementos {
    align-items: center;
    text-align: center;
    background-color: var(--Blanco);
  
}