:root{
    --Ver_Oscuro: #5BB687 ;
    --Azul_Oscuro: #110140 ;
    --Blanco: white ;
    --ver_claro:#B4EAA9;

}

*{
    font-family: "Varela Round", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.Menu_Boton{
    background-color: #F6F6F6;
    display: flex;
    height: 60px;
    width: 80%;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;

    border-radius: 5px;
}
.Menu_Boton:first-child{
    margin-top: 30px;
}

.exit{
    display: flex;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#logo_contenedor{
    margin-top: 60px;
width: 130px;
height: 130px;
display: flex;
}
#logo{
    border-radius: 50%;
    width: 0;
    flex-grow: 1;
    object-fit: cover;
}

.Menu_Boton:hover{
    background-color: #A9E4A4;
}
body{

    margin: 0;
    height: 100vh;
}

.div_superior{

    display:flex;
    justify-content: space-between;
    height: 10dvh;
    background-color: var( --Azul_Oscuro);

    
}


.div_derecha_inside_superior{
    display: flex;
    align-items: center;
    
}

.div_derecha_inside_superior>h2{
    margin: 10px;
    background-color: var(--Ver_Oscuro);
    color: white;
    
}

.div_izquierda_inside_superior{

    display: flex;
    align-items: center;
    margin-right: 15px;
     
   
}

.div_derecha_inside_superior > button{

    background-color: var(--Blanco);
    font-size: 15px;
    border: none;
   
}

.div_izquierda_inside_superior > button{

    background-color: var(--Ver_Oscuro);
    font-size: 15px;
    border: none;
}

.div_contenedor{

    display: grid;
    height: 90dvh;
    grid-template-columns: 20% 80%;
}


.div_barra_navegacion_inside_contenedor{
    height: 90dvh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.div_circulo_contenedor{
    display: flex;
   width: 50px;
   height: 50px;

}
.div_circulo_contenedor > img{
    flex-grow: 1;
    object-fit: cover;
    border-radius: 50%;
    
}


.div_boton_inside_div_elementos {
    align-items: center;
    text-align: center;
    background-color: var(--Blanco);
  
}

.div_menu_inside_consejos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div_boton_inside_consejo{

    text-align: center;
}

.boton_consejo{
    background-color: #F6F6F6;
    display: flex;
    height: 60px;
    width: 200px;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
    border-radius: 5px;
}

.boton_consejo:hover{
    background-color: #A9E4A4;
}

.div_consejo01_inside_consejo{

    margin: 30px;
    font-size: 15px;

}

.h2_inside_consejo{
    text-align: center;
    background-color: var(--ver_claro) ;
    font-size: 40px;
  }

 

.div_consejo02_inside_consejo{

    justify-content: center;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    font-size: 15px
}



.div_contenedor_inside_consejo02{

    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    text-align: justify;
    background-color: var(--Blanco);

}

.h2_titulo_inside_contenedor{
    justify-content: center;
    text-align: center;
}

.div_consejo03_inside_consejo{
  
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px  90px;
    font-size: 15px

}



.div_imagen_inside_consejo03{
  grid-row: 1/3 span;
}

.p_texto_inside_consejo{
    margin: 20px;
    font-size: 15px;
}

.div_consejo04_inside_consejo{
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    font-size: 10px;
    margin: 50px;
    gap: 20px;
}

.div_contenedor_lateral{
    margin-top: 200px;
}

.div_medio_inside_consejo04{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div_contenedor01_inside_consejo04{
    display: flex;
    flex-direction: column;
    height: 125px;
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: justify;
    background-color: var(--Blanco);
}

.div_contenedor02_inside_consejo04{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 125px;
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: justify;
    background-color: var(--Blanco);
}

